<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
                <p> {{ gameCtrl.game.currentAction.tooltip}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="rulesModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Aktive Regeln</h4>
            </div>
            <div class="modal-body">
                <div ng-hide="gameCtrl.hasActiveRules()">
                    Es sind keine Regeln aktiv!
                </div>
                <div ng-repeat="rule in gameCtrl.game.activeRules">
                    {{ rule.name}}
                    <span ng-show="rule.withPlayer">{{ rule.user}}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="jumbotron" ng-swipe-left="gameCtrl.nextAction()" w-mousetrap="{right: gameCtrl.nextAction, n:gameCtrl.nextAction, r: gameCtrl.showRules, ?: gameCtrl.showTooltip}">
    <p><a data-toggle="modal" data-target="#myModal" class="btn btn-primary pull-right" ng-show="gameCtrl.game.currentAction.hasTooltip()">?</a></p>
    <h2 style="text-align: left">{{ gameCtrl.game.getCurrentPlayer()}}</h2>

    <p class="lead">{{ gameCtrl.game.currentAction.name}}</p>
    <p class="hidden-xs"><button class="btn btn-block btn-lg btn-default" id="nextBtn" ng-click="gameCtrl.nextAction()"><u>N</u>ächste Aktion</button></p>
</div>
<a data-toggle="modal" data-target="#rulesModal" class="btn btn-block btn-default" id="activeRulesBtn">Aktive <u>R</u>egeln</a>
